{% include 'surveys/header.html' %}

<div class="container">
	<h1 class="mb-3">{{ survey_name }}</h1>

	<form method="POST" action="{% url 'submit' %}" >
		{% csrf_token %}
		<input type="hidden" name="survey" value="{{ survey }}">
		<input type="hidden" name="key" value="{{ key }}">
		{% for x in questions %}
			<div class="mb-3">
				{% if x.response_type != 'Options-Single' and x.response_type != 'Options-Multi' %}
					<label class="form-label" for="question-{{ x.question_id }}">{{ x.question_text }}</label>
				{% else %}
					<div class="form-label">{{ x.question_text }}</div>
				{% endif %}
				{% if x.response_type == 'Text' %}
					<input {% if x.required == True %}required{% endif %} class="form-control" type="text" id="question-{{ x.question_id }}" name="question-{{ x.question_id }}" >
				{% elif x.response_type == 'Likert' %}
					<select {% if x.required == True %}required{% endif %} class="form-select" id="question-{{ x.question_id }}" name="question-{{ x.question_id }}" >
						<option></option>
						{% for ops in x.static_options %}
							<option value="{{ ops }}">{{ ops }}</option>
						{% endfor %}
					</select>
				{% elif x.response_type == 'Text-Long' %}
					<textarea {% if x.required == True %}required{% endif %} class='form-control' id="question-{{ x.question_id }}" name="question-{{ x.question_id }}" rows="3"></textarea>
				{% elif x.response_type == 'Options-Single' %}
					{% for y in x.options %}
						<div class="form-check">
							<input {% if x.required == True %}required{% endif %} type="radio" class="form-check-input" id="question-{{ x.question_id }}-{{ y.option_number }}" name="question-{{ x.question_id }}" value="{{ y.option_text }}">
							<label class="form-check-label" for="question-{{ x.question_id }}-{{ y.option_number }}">{{ y.option_text }}</label>
						</div>
					{% endfor %}
					{% elif x.response_type == 'Options-Multi' %}
					{% for y in x.options %}
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="question-{{ x.question_id }}-{{ y.option_number }}" name="question-{{ x.question_id }}-{{ y.option_number }}" value="{{ y.option_text }}">
							<label class="form-check-label" for="question-{{ x.question_id }}-{{ y.option_number }}">{{ y.option_text }}</label>
						</div>
					{% endfor %}
				{% else %}
					<h1>Not a supported response type.</h1>
				{% endif %}
			</div>
		{% endfor %}
		<button type="submit">Submit</button>
	</form>

</div>

{% include 'surveys/footer.html' %}