
{# <form method="POST" action="/surveys/submit/"> #}
<form method="POST" action="{% url 'submit' %}" >
{% csrf_token %}
<input type="hidden" name="survey" value="{{ survey }}">
<input type="hidden" name="key" value="{{ key }}">
{% for x in questions %}
	<label for="question-{{ x.question_id }}">{{ x.question_text }}</label>
	
	{% if x.response_type == 'Text' %}
		<input type="text" id="question-{{ x.question_id }}" name="question-{{ x.question_id }}" >
	{% elif x.response_type == 'Likert' %}
		<select id="question-{{ x.question_id }}" name="question-{{ x.question_id }}" >
			<option></option>
			{% for ops in x.static_options %}
				<option value="{{ ops }}">{{ ops }}</option>
			{% endfor %}
		</select>
	{% else %}
		<h1>Not a supported response type.</h1>
	{% endif %}
{% endfor %}
<button type="submit">Submit</button>
</form>
